
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>

<p>Enter the following information to register.</p>

<form>
    <p>
        <label for="email">Email:</label><br />
        <input type="text" name="email"><br />
    </p>

    <p>
        <label for="password">Password:</label><br />
        <input type="password" name="password"><br />
    </p>

    <p>
        <label for="fname">First Name:</label><br />
        <input type="text" name="fname"><br />
    </p>

    <p>
        <label for="lname">Last Name:</label><br />
        <input type="text" name="lname"><br />
    </p>

    <p>
        <label for="gender">Gender:</label><br />
        <input type="radio" name="gender">
        <label for="male">Male:</label>
        <input type="radio" name="gender">
        <label for="female">Female:</label><br />
    </p>
    <p><input type="submit" value="Submit"></p>
</form>
